In [22]:
import pandas as pd
import geopandas as gpd
import io
import requests
import os
import json
import ipywidgets as widgets

In [23]:
from functions import my_methods

In [24]:
cwd = os.getcwd()

Modify **date.json** file to change the date:

In [25]:
d = open('date.json')
date = json.load(d)
year = date['year']
mais_week = date['mais_week']
rice_week = date['rice_week']
cereal_week = date['cereal_week']

In [26]:
calendar = my_methods.manuring_periods(year, mais_week, rice_week, cereal_week)
print(calendar)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: ['2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01'], 10: [], 11: [], 12: [], 13: ['2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29'], 14: [], 15: [], 16: [], 17: [], 18: [], 19: [], 20: [], 21: [], 22: [], 23: [], 24: [], 25: [], 26: [], 27: [], 28: [], 29: [], 30: [], 31: [], 32: [], 33: [], 34: [], 35: ['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30'], 36: [], 37: [], 38: [], 39: [], 40: [], 41: [], 42: [], 43: [], 44: [], 45: [], 46: [], 47: [], 48: [], 49: [], 50: [], 51: [], 52: [], 53: []}

In [27]:
# With this widget is possible to select from the dropdown list the required week
select_week = widgets.Dropdown(
    options=['mais_week', 'rice_week', 'cereal_week'],
    description='name:',
    disabled=False)
select_week

Dropdown(description='name:', options=('mais_week', 'rice_week', 'cereal_week'), value='mais_week')

In [28]:
start_date = calendar[date[select_week.value]][0]
end_date = calendar[date[select_week.value]][-1]

In [29]:
device_list = [10, 16, 36]  #list of devices considered to make the request

In [30]:
aq_data = []

In [31]:
for i in range(len(device_list)):
    url = 'https://api.aqp.eo.esa.int/api/device/'+str(device_list[i])+'/csv?start_date='+start_date+'&end_date='+end_date
    urlData = requests.get(url).content
    rawData = pd.read_csv(io.StringIO(urlData.decode('utf-8')))
    aq_data.append(rawData)

df_data = pd.concat((pd.DataFrame(data) for data in aq_data), ignore_index=True)

In [32]:
df_data

,[],id,device_id,acquisition_date,latitude,longitude,gps_precision,pm25,pm10,humidity,...,nh3,co,created_at,updated_at,sensor1,sensor2,sensor3,sensor4,sensor5,timestamp
0,NaN,3403664.0,16.0,2020-02-24 00:00:36,45.477748,9.227293,0.0,0.3,0.3,75.4,...,0.59,3.91,2020-02-23 23:00:38,2020-02-23 23:00:38,10.0,10.0,10.0,"CO=3.9120141143ppm ,NH3=0.592423208777ppm ,NO2...",add info,1.582499e+09
1,NaN,3403674.0,16.0,2020-02-24 00:01:42,45.477748,9.227293,0.0,0.3,0.3,75.4,...,0.59,3.91,2020-02-23 23:01:44,2020-02-23 23:01:44,10.0,10.0,10.0,"CO=3.9120141143ppm ,NH3=0.592423208777ppm ,NO2...",add info,1.582499e+09
2,NaN,3403684.0,16.0,2020-02-24 00:02:49,45.477748,9.227293,0.0,0.1,0.1,75.6,...,0.59,3.91,2020-02-23 23:02:50,2020-02-23 23:02:50,10.0,10.0,10.0,"CO=3.9120141143ppm ,NH3=0.592423208777ppm ,NO2...",add info,1.582499e+09
3,NaN,3403694.0,16.0,2020-02-24 00:03:55,45.477748,9.227293,0.0,0.3,0.4,75.6,...,0.59,3.91,2020-02-23 23:03:57,2020-02-23 23:03:57,10.0,10.0,10.0,"CO=3.9120141143ppm ,NH3=0.592423208777ppm ,NO2...",add info,1.582499e+09
4,NaN,3403705.0,16.0,2020-02-24 00:05:01,45.477748,9.227293,0.0,0.6,0.6,75.6,...,0.59,3.91,2020-02-23 23:05:03,2020-02-23 23:05:03,10.0,10.0,10.0,"CO=3.9120141143ppm ,NH3=0.592423208777ppm ,NO2...",add info,1.582499e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13910,NaN,3476371.0,36.0,2020-02-28 13:31:03,45.534717,10.231533,1.0,7.9,11.9,1.0,...,0.67,3.78,2020-02-28 12:31:09,2020-02-28 12:31:09,10.0,10.0,10.0,"CO=3.78297567113ppm ,NH3=0.668134306112ppm ,NO...",add info,1.582893e+09
13911,NaN,3476387.0,36.0,2020-02-28 13:32:18,45.534755,10.231545,1.0,7.4,7.8,1.0,...,0.67,3.78,2020-02-28 12:32:22,2020-02-28 12:32:22,10.0,10.0,10.0,"CO=3.78297567113ppm ,NH3=0.668134306112ppm ,NO...",add info,1.582893e+09
13912,NaN,3476404.0,36.0,2020-02-28 13:33:34,45.534797,10.231520,1.0,7.5,8.0,1.0,...,0.67,3.78,2020-02-28 12:33:39,2020-02-28 12:33:39,10.0,10.0,10.0,"CO=3.78297567113ppm ,NH3=0.668134306112ppm ,NO...",add info,1.582893e+09
13913,NaN,3476421.0,36.0,2020-02-28 13:34:53,45.534791,10.231480,1.0,8.9,22.4,1.0,...,0.67,3.78,2020-02-28 12:35:02,2020-02-28 12:35:02,10.0,10.0,10.0,"CO=3.78297567113ppm ,NH3=0.668134306112ppm ,NO...",add info,1.582893e+09
13914,NaN,3522718.0,36.0,2020-02-28 13:17:28,45.534791,10.231480,0.0,4.3,7.6,17.9,...,0.67,3.78,2020-03-02 08:11:41,2020-03-02 08:11:41,10.0,10.0,10.0,"CO=3.78297567113ppm ,NH3=0.668134306112ppm ,NO...",add info,1.582892e+09

In [33]:
sel_columns = ['device_id', 'acquisition_date','latitude', 
           'longitude', 'pm25', 'pm10', 'humidity', 'temperature',
          'no2', 'co2', 'nh3', 'co']

In [34]:
df_data.device_id.unique()

array([16., 36.])

In [35]:
aq_data = df_data[sel_columns]

In [36]:
aq_data['acquisition_date'] = pd.to_datetime(aq_data['acquisition_date'], format='%Y-%m-%d %H:%M:%S')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9500\513061078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aq_data['acquisition_date'] = pd.to_datetime(aq_data['acquisition_date'], format='%Y-%m-%d %H:%M:%S')

In [37]:
aq_means = aq_data.groupby(['device_id'], as_index=False).mean()
aq_means

,device_id,latitude,longitude,pm25,pm10,humidity,temperature,no2,co2,nh3,co
0,16.0,45.477748,9.227293,0.945905,1.394200,53.930501,14.634196,0.190975,366.821363,0.595761,3.893091
1,36.0,45.517956,10.231486,10.850980,15.666375,10.390050,22.283771,0.114808,346.673778,0.670096,3.783648

In [38]:
pm25 = aq_means[['device_id', 'latitude', 'longitude', 'pm25']].rename(columns={"pm25": "value"})
pm10 = aq_means[['device_id', 'latitude', 'longitude', 'pm10']].rename(columns={"pm10": "value"})
hum = aq_means[['device_id', 'latitude', 'longitude', 'humidity']].rename(columns={"humidity": "value"})
temp = aq_means[['device_id', 'latitude', 'longitude', 'temperature']].rename(columns={"temperature": "value"})
no2 = aq_means[['device_id', 'latitude', 'longitude', 'no2']].rename(columns={"no2": "value"})
co2 = aq_means[['device_id', 'latitude', 'longitude', 'co2']].rename(columns={"co2": "value"})
nh3 = aq_means[['device_id', 'latitude', 'longitude', 'nh3']].rename(columns={"nh3": "value"})
co = aq_means[['device_id', 'latitude', 'longitude', 'co']].rename(columns={"co": "value"})

In [39]:
pm25_gdf = gpd.GeoDataFrame(pm25, geometry=gpd.points_from_xy(pm25.longitude, pm25.latitude)).set_crs('epsg:4326')
pm10_gdf = gpd.GeoDataFrame(pm10, geometry=gpd.points_from_xy(pm10.longitude, pm10.latitude)).set_crs('epsg:4326')
hum_gdf = gpd.GeoDataFrame(hum, geometry=gpd.points_from_xy(hum.longitude, hum.latitude)).set_crs('epsg:4326')
temp_gdf = gpd.GeoDataFrame(temp, geometry=gpd.points_from_xy(temp.longitude, temp.latitude)).set_crs('epsg:4326')
no2_gdf = gpd.GeoDataFrame(no2, geometry=gpd.points_from_xy(no2.longitude, no2.latitude)).set_crs('epsg:4326')
co2_gdf = gpd.GeoDataFrame(co2, geometry=gpd.points_from_xy(co2.longitude, co2.latitude)).set_crs('epsg:4326')
nh3_gdf = gpd.GeoDataFrame(nh3, geometry=gpd.points_from_xy(nh3.longitude, nh3.latitude)).set_crs('epsg:4326')
co_gdf = gpd.GeoDataFrame(co, geometry=gpd.points_from_xy(co.longitude, co.latitude)).set_crs('epsg:4326')

In [15]:
pm25_gdf.to_file(cwd+"/temp/pm25_lcs.gpkg", driver="GPKG")
pm10_gdf.to_file(cwd+"/temp/pm10_lcs.gpkg", driver="GPKG")
hum_gdf.to_file(cwd+"/temp/hum_lcs.gpkg", driver="GPKG")
temp_gdf.to_file(cwd+"/temp/temp_lcs.gpkg", driver="GPKG")
no2_gdf.to_file(cwd+"/temp/no2_lcs.gpkg", driver="GPKG")
co2_gdf.to_file(cwd+"/temp/co2_lcs.gpkg", driver="GPKG")
nh3_gdf.to_file(cwd+"/temp/amm_lcs.gpkg", driver="GPKG")
co_gdf.to_file(cwd+"/temp/co_lcs.gpkg", driver="GPKG")

C:\Users\Administrator\anaconda3\envs\ddust\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [ ]:
# for i in range(100):
#     url ='https://api.aqp.eo.esa.int/api/device/'+str(i)
#     print(requests.get(url).content)

In [ ]:
# lc_id = [10, 16, 36] #station in Lombardy region