# Results of Model prediction
In this notebook is possible to retrieve test results al ready run in the notebooks of [RF](https://github.com/opengeolab/D-DUST/blob/thesis_MB/notebooks/RandomForest_prediction_model.ipynb) and [Keras](https://github.com/opengeolab/D-DUST/blob/thesis_MB/notebooks/Keras_prediction_model.ipynb) prediction model.

In order to do that is necessary to set the parameter of the test choosen using dropdown widgtes.
</br></br>
<img align="right" width="230" height="300" src = assets/images/dropdown.png>
<img align="right" width="300" src = assets/images/table.png>
</br>

In [4]:
from IPython.core.display import display
import ipywidgets as widgets
import pandas as pd


params = ['0_1_mountains', '0_1_nomountains', '0_01_mountains', '0_01_nomountains']
NUMBER_OF_COVARIATES = 12
models = widgets.Dropdown(
    options=['Keras Neural Network','Random Forest'],
    value='Keras Neural Network',
    description='Model:',
    disabled=False,
)


configuration = widgets.Dropdown(
    options=params,
    value=params[0],
    description='Settings:',
    disabled=False,
)
target = widgets.Dropdown(
    options=['pm25_st', 'nh3_st'],
    value='pm25_st',
    description='Settings:',
    disabled=False,
)

display(models)
display(target)
display(configuration)

Dropdown(description='Model:', options=('Keras Neural Network', 'Random Forest'), value='Keras Neural Network'…

Dropdown(description='Settings:', options=('pm25_st', 'nh3_st'), value='pm25_st')

Dropdown(description='Settings:', options=('0_1_mountains', '0_1_nomountains', '0_01_mountains', '0_01_nomount…

In [2]:
if(models.value == 'Random Forest'):
    results = pd.read_csv('assets/test/RF'+target.value+configuration.value+'.csv')
else:
    results = pd.read_csv('assets/test/keras'+target.value+configuration.value+'.csv')
    
results.head()

,Unnamed: 0,0324_0331_2021,0418_0425_2021,0717_0724_2021,0903_0910_2021,1007_1014_2021
0,MAE_sensor,1.842,1.669,1.026,1.745,1.515
1,MSE_sensor,5.185,4.531,1.594,5.522,3.695
2,R2_sensor,0.817,0.301,0.126,0.499,0.546
3,MAE_cams,7.800,6.554,2.113,3.060,3.478
4,MSE_cams,86.279,57.562,7.565,13.266,16.591